#This is a gitignore file which should hopefully be used to ignore the venv that I have set up. 
py_env/
bin/
build/
lib/

#That should mostly take care of the main thing
*.egg-info/
*.egg/
HeSt/__pycache__/