#This is a gitignore file which should hopefully be used to ignore the venv that I have set up. 
py_env/
bin/
build/
lib/
plots/
data/Ch1*
data/ch1*
data/sample_1000
data/slurm_practice.pkl
data/chi_*
analysis/*
testing_multi_processing.py
*.png
data_to_be_shared/*
*.gif
data/Double_pulse_amps.npy
data/Double_pulse_wfs.npy
data/further_zoom.npy

config.py
#That should mostly take care of the main thing
*.egg-info/
*.egg/
HeST/__pycache__/
slurm*.out
parameters/*
